<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>index</title>
    </head>
    <body>
    <a th:href="@{/hello}">测试@RequestMapping注解所标识的位置</a><br>
    <a th:href="@{/abc}">测试@RequestMapping注解的value属性</a><br>

    <a th:href="@{/hello(username='admin')}">测试@RequestMapping注解的params属性</a><br>
    <a th:href="@{/abc/test/ant}">测试@RequestMapping注解支持ant风格的路径</a><br>
    <a th:href="@{/test/rest/admin/1}">测试@RequestMapping注解的value属性中的占位符</a><br>
    <form th:action="@{/hello}" method="post">
        用户名:<input type="text" name="username">
        密  码:<input type="password" name="password">
        <input type="submit" value="提交">
    </form>
    <form th:action="@{/hello}" method="post">
        <input type="submit" value="测试@RequestMapping注解的method属性">
    </form>

    <hr>

    <form th:action="@{/param/servletAPI}" method="post">
        用户名:<input type="text" name="username">
        密  码:<input type="password" name="password">
        <input type="submit" value="提交">
    </form><form th:action="@{/param}" method="post">
        用户名:<input type="text" name="username">
        密  码:<input type="password" name="password">
        <input type="submit" value="提交">
    </form>

    <form th:action="@{/param/bean}" method="post">
        用户名:<input type="text" name="username">
        密  码:<input type="password" name="password">
        <input type="submit" value="提交">
    </form>

    <hr>
    <a th:href="@{/test/mav}">测试ModelAndView向请求域共享数据</a><br>
    <a th:href="@{/test/model}">测试Model向请求域共享数据</a><br>
    <a th:href="@{/test/modelMap}">测试ModelMap向请求域共享数据</a><br>
    <a th:href="@{/test/map}">测试Map向请求域共享数据</a><br>
    <a th:href="@{/test/servletAPI}">测试ServletAPI向请求域共享数据</a><br>

    <hr>

    <a th:href="@{/test/session}">测试向Session共享数据</a><br>
    <a th:href="@{/test/application}">测试向application应用域共享数据</a><br>

    <hr>

    <a th:href="@{/test/view/thymeleaf}">测试SpringMVC的视图ThymeleafView</a><br>
    <a th:href="@{/test/view/forward}">测试SpringMVC的视图内部转发InternalResourceView</a><br>
    <a th:href="@{/test/view/redirect}">测试SpringMVC的视图重定向RedirectView</a><br>


    </body>
</html>